@model IEnumerable<DiceRoll>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Roll Result
                </th>
                <th>
                    Passed
                </th>
                <th>
                    Threshold
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                for (var i = 0; i < Model.Count(); i++)
                {
                    var roll = Model.ElementAt(i);
                    <tr>
                        <td>
                            @if (roll.FirstResult != null)
                            {
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rollNumber_@i" aria-expanded="false" aria-controls="rollNumber_@i">
                                    @(roll.RollResult == -1 ? "Auto" : roll.RollResult)
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-outline-secondary" type="button" disabled>
                                    @(roll.RollResult == -1 ? "Auto" : roll.RollResult)
                                </button>
                            }
                        </td>
                        <td>
                            @if (roll.Critical)
                            {
                                <span class="badge rounded-pill bg-success">Critical</span>
                            }
                            else if (roll.RollResult == -1)
                            {
                                <span class="badge rounded-pill bg-secondary">Auto</span>
                            }
                            else if (roll.PassResult)
                            {
                                <span class="badge rounded-pill bg-primary">Pass</span>
                            }
                            else
                            {
                                <span class="badge rounded-pill bg-danger">Fail</span>
                            }
                        </td>
                        <td>
                            @(roll.RollResult == -1 ? "Auto" : roll.Threshold)
                        </td>
                    </tr>
                    @if (roll.FirstResult != null)
                    {
                        <tr class="collapse" id="rollNumber_@i">
                            <td>
                                @roll.FirstResult.RollResult
                            </td>
                            <td>
                                <span class="badge rounded-pill bg-warning">Reroll</span>
                            </td>
                            <td>
                                @roll.FirstResult.Threshold
                            </td>
                        </tr>
                    }
                }
            }
        </tbody>
    </table>
</div>