@model RollDiceViewModel

@{
    var HitRules = Model.GameRules.Where(x => x.AppliesTo.Name.ToUpper().Equals("HITS")).ToList();
    var WoundRules = Model.GameRules.Where(x => x.AppliesTo.Name.ToUpper().Equals("WOUNDS")).ToList();
    var SaveRules = Model.GameRules.Where(x => x.AppliesTo.Name.ToUpper().Equals("SAVES")).ToList();
}

<form id="RollDiceRequestForm" asp-controller="RollDice" asp-action="RollDice" method="post">
</form>
<form id="RollDiceBasicRequestForm" asp-controller="RollDice" asp-action="RollDiceBasic" method="post">
</form>

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <div class="d-grid gap-2">
            <button class="btn btn-lg btn-block btn-outline-primary" data-bs-toggle="modal" data-bs-target="#RollDiceModal">
                Quick Roll
            </button>
        </div>
    </div>
</div>

<div class="modal fade" id="RollDiceModal" tabindex="-1" aria-labelledby="RollDiceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="RollDiceModalLabel">Quick Roll Dice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="RollDiceRequestDiv">
                    <ul class="nav nav-tabs" id="rollDiceTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="RollComplete-tab" data-bs-toggle="tab" data-bs-target="#RollCompleteTab" type="button" role="tab" aria-controls="RollCompleteTab" aria-selected="true">Complete Roll</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="RollBasic-tab" data-bs-toggle="tab" data-bs-target="#RollBasicTab" type="button" role="tab" aria-controls="RollBasicTab" aria-selected="false">Basic Roll</button>
                        </li>
                    </ul>
                    <div class="tab-content" id="rollDiceTabContent">
                        <div class="tab-pane fade show active" id="RollCompleteTab" role="tabpanel" aria-labelledby="RollComplete-tab">
                            <div class="mb-3">
                                <label for="AttackCountInput" class="form-label">Attacks Count</label>
                                <input form="RollDiceRequestForm" name="request.DiceCount" type="number" step="1" min="1" class="form-control" id="AttackCountInput" aria-describedby="AttackCountHelp">
                                <div id="AttackCountHelp" class="form-text">The number of dice to roll initially, usually the A (attacks) characteristic.</div>
                            </div>
                            <div class="mb-3 text-center">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#hitRules" aria-expanded="false" aria-controls="hitRules">
                                    Hit Special Rules
                                </button>
                                <div class="collapse" id="hitRules">
                                    <div class="card card-body text-start">
                                        @if (HitRules == null || !HitRules.Any())
                                        {
                                            <h3>No rules to display!</h3>
                                        }
                                        else
                                        {
                                            @for (var i = 0; i < HitRules.Count; i++)
                                            {
                                                var curRule = HitRules[i];
                                                if (i > 0)
                                                {
                                                    <hr />
                                                }
                                                <div class="form-check form-switch">
                                                    <input type="hidden" form="RollDiceRequestForm" name="request.AppliedRules[@i].Id" value="@curRule.Id" />
                                                    <input class="form-check-input" type="checkbox" id="@curRule.Id" form="RollDiceRequestForm" name="request.AppliedRules[@i].Selected" value="true">
                                                    <label class="form-check-label" for="@curRule.Id"><b>@curRule.Name</b><br />@curRule.Description</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="HitThresholdInput" class="form-label">Hit Threshold</label>
                                <input form="RollDiceRequestForm" name="request.HitThreshold" type="number" step="1" min="1" max="6" class="form-control" id="HitThresholdInput" aria-describedby="HitThresholdHelp">
                                <div id="HitThresholdHelp" class="form-text">The minimum value required on a die to be considered a successful Hit.</div>
                            </div>
                            <div class="mb-3 text-center">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#woundRules" aria-expanded="false" aria-controls="woundRules">
                                    Wound Special Rules
                                </button>
                                <div class="collapse" id="woundRules">
                                    <div class="card card-body text-start">
                                        @if (WoundRules == null || !WoundRules.Any())
                                        {
                                            <h3>No rules to display!</h3>
                                        }
                                        else
                                        {
                                            @for (var i = 0; i < WoundRules.Count; i++)
                                            {
                                                var curRule = WoundRules[i];
                                                if (i > 0)
                                                {
                                                    <hr />
                                                }
                                                <div class="form-check form-switch">
                                                    <input type="hidden" form="RollDiceRequestForm" name="request.AppliedRules[@((HitRules?.Count ?? 0) + i)].Id" value="@curRule.Id" />
                                                    <input class="form-check-input" type="checkbox" id="@curRule.Id" form="RollDiceRequestForm" name="request.AppliedRules[@i].Selected" value="true">
                                                    <label class="form-check-label" for="@curRule.Id"><b>@curRule.Name</b><br />@curRule.Description</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="WoundThresholdInput" class="form-label">Wound Threshold</label>
                                <input form="RollDiceRequestForm" name="request.WoundThreshold" type="number" step="1" min="1" max="6" class="form-control" id="WoundThresholdInput" aria-describedby="WoundThresholdHelp">
                                <div id="WoundThresholdHelp" class="form-text">The minimum value required on a die to be considered a successful Wound.</div>
                            </div>
                            <div class="mb-3 text-center">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#saveRules" aria-expanded="false" aria-controls="saveRules">
                                    Save Special Rules
                                </button>
                                <div class="collapse" id="saveRules">
                                    <div class="card card-body text-start">
                                        @if (SaveRules == null || !SaveRules.Any())
                                        {
                                            <h3>No rules to display!</h3>
                                        }
                                        else
                                        {
                                            @for (var i = 0; i < SaveRules.Count; i++)
                                            {
                                                var curRule = SaveRules[i];
                                                if (i > 0)
                                                {
                                                    <hr />
                                                }
                                                <div class="form-check form-switch">
                                                    <input type="hidden" form="RollDiceRequestForm" name="request.AppliedRules[@((HitRules?.Count ?? 0) + (WoundRules?.Count ?? 0) + i)].Id" value="@curRule.Id" />
                                                    <input class="form-check-input" type="checkbox" id="@curRule.Id" form="RollDiceRequestForm" name="request.AppliedRules[@i].Selected" value="true">
                                                    <label class="form-check-label" for="@curRule.Id"><b>@curRule.Name</b><br />@curRule.Description</label>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="SaveThresholdInput" class="form-label">Save Threshold</label>
                                <input form="RollDiceRequestForm" name="request.SaveThreshold" type="number" step="1" min="1" max="6" class="form-control" id="SaveThresholdInput" aria-describedby="SaveThresholdHelp">
                                <div id="SaveThresholdHelp" class="form-text">The minimum value required on a die to be considered a successful Save.</div>
                            </div>
                            <div class="mb-3 form-check">
                                <input form="RollDiceRequestForm" name="request.FeelNoPainFlag" type="checkbox" value="true" class="form-check-input" id="FeelNoPainCheckInput">
                                <label class="form-check-label" for="FeelNoPainCheckInput">Enable Feel No Pain Save?</label>
                            </div>
                            <div class="mb-3">
                                <label for="FNPThresholdInput" class="form-label">Feel No Pain Threshold</label>
                                <input form="RollDiceRequestForm" name="request.FeelNoPainThreshold" type="number" step="1" min="1" max="6" class="form-control" id="FNPThresholdInput" aria-describedby="FNPThresholdHelp">
                                <div id="FNPThresholdHelp" class="form-text">The minimum value required on a die to be considered a successful Feel No Pain Save.</div>
                            </div>
                            <button form="RollDiceRequestForm" type="submit" class="btn btn-primary">Roll!</button>
                        </div>
                        <div class="tab-pane fade" id="RollBasicTab" role="tabpanel" aria-labelledby="RollBasic-tab">
                            <div class="mb-3">
                                <label for="BasicDiceCountInput" class="form-label">Dice Count</label>
                                <input form="RollDiceBasicRequestForm" name="request.DiceCount" type="number" step="1" min="1" class="form-control" id="BasicDiceCountInput" aria-describedby="BasicDiceCountHelp">
                                <div id="BasicDiceCountHelp" class="form-text">The number of dice to roll.</div>
                            </div>
                            <div class="mb-3">
                                <select form="RollDiceBasicRequestForm" class="form-select" id="BasicDiceRollType" name="request.RollTypeId">
                                    <option value="-1" selected>Select Roll Type</option>
                                    @foreach (var rollType in Model.RollTypes)
                                    {
                                        <option value="@rollType.Id">@rollType.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="BasicRollThresholdInput" class="form-label">Threshold</label>
                                <input form="RollDiceBasicRequestForm" name="request.Threshold" type="number" step="1" min="1" max="6" class="form-control" id="BasicRollThresholdInput" aria-describedby="BasicRollThresholdHelp">
                                <div id="BasicRollThresholdHelp" class="form-text">The minimum value required on a die to be considered successful.</div>
                            </div>
                            <button form="RollDiceBasicRequestForm" type="submit" class="btn btn-primary">Roll!</button>
                        </div>
                    </div>
                </div>
                <div id="RollDiceResultsDiv" style="display: none">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>