@model List<DiceEvent>

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <div class="accordion" id="rollsAccordian">
            @for (var i = 0; i < Model.Count; i++)
            {
                var diceEvent = Model[i];
                <div class="accordion-item">
                    <h2 class="accordion-header" id="cardHeading_@i">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#diceEvent_@i" aria-expanded="false" aria-controls="diceEvent_@i">
                            Roll @(Model.Count - i)
                        </button>
                    </h2>
                    <div id="diceEvent_@i" class="accordion-collapse collapse" aria-labelledby="cardHeading_@i" data-bs-parent="#rollsAccordian">
                        <div class="accordion-body">
                            <div class="row justify-content-center">
                                <div class="col-md-12 text-center">
                                    <hr />
                                    <h3>Hits</h3>
                                    <h5>@diceEvent.Hits.Count(x => x.PassResult)</h5>
                                    <hr />
                                    <partial name="~/Views/RollDice/Partials/MiniPartials/RollDiceResultsCardBodyMiniPartial.cshtml" model="@diceEvent.Hits" />
                                    <hr />
                                    <h3>Wounds</h3>
                                    <h5>@diceEvent.Wounds.Count(x => x.PassResult)</h5>
                                    <hr />
                                    <partial name="~/Views/RollDice/Partials/MiniPartials/RollDiceResultsCardBodyMiniPartial.cshtml" model="@diceEvent.Wounds" />
                                    <hr />
                                    <h3>Saves</h3>
                                    <h5>@diceEvent.Saves.Count(x => x.PassResult)</h5>
                                    <hr />
                                    <partial name="~/Views/RollDice/Partials/MiniPartials/RollDiceResultsCardBodyMiniPartial.cshtml" model="@diceEvent.Saves" />
                                    @if (diceEvent.FeelNoPains != null && diceEvent.FeelNoPains.Any())
                                    {
                                        <hr />
                                        <h3>Feel No Pain</h3>
                                        <h5>@diceEvent.FeelNoPains.Count(x => x.PassResult)</h5>
                                        <hr />
                                        <partial name="~/Views/RollDice/Partials/MiniPartials/RollDiceResultsCardBodyMiniPartial.cshtml" model="@diceEvent.FeelNoPains" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>