@model GameResult

<form id="RollDiceRequestForm" asp-controller="GameTracker" asp-action="RollDice" method="post"></form>
<form id="UpdatePointsForm" asp-controller="GameTracker" asp-action="SavePointsUpdates">
    <input type="hidden" name="GameId" value="@Model.Id" />
</form>

<input type="hidden" name="GameId" id="RollDiceGameId" value="@Model.Id" />

<div class="row justify-content-center">
    <div class="col-sm-12 col-md-6 text-center">
        @{
            var orderedData = Model.GamePlayData.OrderBy(x => x.Id).ToList();
        }
        @for (var i = 0; i < orderedData.Count; i++)
        {
            var gameData = orderedData[i];

            <h3>@gameData.PlayerData.FirstName @gameData.PlayerData.LastName</h3>
            <h5>@gameData.PlayerFaction.Name</h5>
            <h4>Points:</h4>
            <input form="UpdatePointsForm" type="hidden" name="GameData[@i].Id" value="@gameData.Id" />
            <input form="UpdatePointsForm" type="number" step="1" name="GameData[@i].Points" class="form-control" id="playerData_@gameData.Id" value="@gameData.Points" />
            <hr />
        }
        <button class="btn btn-outline-success" form="UpdatePointsForm" type="submit">Apply Updates</button>
    </div>
</div>
<hr />

<div id="RollDiceForms" style="display: none">

</div>

<hr />
<div id="DiceDataSection" style="display: none">

</div>

@section Scripts
{
    <script src="~/lib/microsoft/signalR/dist/browser/signalr.min.js" asp-append-version="true"></script>
    <script src="~/js/GameUpdateHubScripts.js" asp-append-version="true"></script>
    <script src="~/js/RollDiceScripts.js" asp-append-version="true"></script>
    <script src="~/js/OpenGameScripts.js" asp-append-version="true"></script>
}